html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $default-color;
}

.main {
  flex-grow: 1;
}


.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.container-add {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1800px;
}

.title {
  font-size: 36px;
  text-align: center;
  color: $title-color;

  @extend %dmsans-bold;
}

.breadcrumbs {
  display: inline-flex;

  &__item:not(:last-child) {
    position: relative;
    padding-right: 20px;

    &::after {
      content: "/";
      position: absolute;
      right: 7px;
      top: 2px;
      font-size: 16px;
      color: $primary-color;
    }
  }

  &__link {
    font-size: 14px;
    color: $primary-color;

    &--active {
      color: $second-color;
    }
  }
}

.social {
  display: flex;

  &__item+.social__item {
    margin-left: 8px;
  }

  &__link {
    display: flex;
    flex-shrink: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
  }
}
