$default-color: #436372;
$second-color: #243f4d;
$accent-color: #414141;
$primary-color: #7b7b7b;
$title-color: #191919;
$second-bg: #a3bbc8;
$accent-bg: #fcd7b6;

%dmsans-regular {
  font-family: "DMsans", sans-serif;
  font-weight: 400;
}

%dmsans-medium {
  font-family: "DMsans", sans-serif;
  font-weight: 500;
}

%dmsans-bold {
  font-family: "DMsans", sans-serif;
  font-weight: 700;
}

%link {
  display: inline-block;
  border: 1px solid #b3b7b5;
  border-radius: 4px;
  padding: 15px 90px 15px 18px;
  font-weight: 500;
  font-size: 15px;
  color: $default-color;
  background-image: url("../images/sale/icon.svg");
  background-position: 95% center;
  background-size: 22px 9px;
  background-repeat: no-repeat;
}

%bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

%checkbox-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}