$white-color: #fff;
$default-color: #436372;
$second-color: #243f4d;
$accent-color: #414141;
$primary-color: #7b7b7b;
$second-bg: #a3bbc8;
$accent-bg: #fcd7b6;
$primary-bg: #fef7f0;
$font-family: "Rubick";
$fw: 400;
$maxw: 1800px;

%dmsans-regular {
  font-family: "DMsans", sans-serif;
  font-weight: 400;
}

%dmsans-medium {
  font-family: "DMsans", sans-serif;
  font-weight: 500;
}

%dmsans-bold {
  font-family: "DMsans", sans-serif;
  font-weight: 700;
}
