@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  padding: 44px 0;
  background-color: #fff;

  // .header__inner
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    margin-left: 9%;
  }
}

.menu {
  position: relative;

  // .menu__list
  &__list {
    display: flex;
  }

  &__list-item {
    position: relative;
    flex-shrink: 0;
  }

  // .menu__list-item
  &__list-item+.menu__list-item {
    margin-left: 40px;
  }

  // .menu__list-link
  &__list-link {
    position: relative;
    font-size: 15px;
    line-height: 12px;
    color: $default-color;
    transition: ease color 0.3s;

    @media (min-width: 992px) {
      &:hover {
        color: $accent-color;
        transition: ease color 0.3s;
      }
    }
  }

  &__list-link.parent {
    padding-right: 15px;
  }
}

body.mouse .menu__list-item:hover .submenu {
  opacity: 1;
  visibility: visible;
  transition: ease opacity 0.3s, ease visibility 0.3s;
}

body.mouse .menu__list-item:hover .dropdown-icon::after {
  transform: rotate(-90deg);
  transition: ease transform 0.3s;
}

body.touch .submenu.open {
  opacity: 1;
  visibility: visible;
}

.submenu {
  position: absolute;
  left: 0;
  top: 20px;
  z-index: 11;
  padding-top: 20px;
  min-width: 140px;
  opacity: 0;
  visibility: hidden;
  transition: ease opacity 0.3s, ease visibility 0.3s;

  &__item {
    background-color: $second-bg;
  }

  &__link {
    display: block;
    padding: 5px 10px 10px;
    font-size: 15px;
    color: $default-color;

    @media (min-width: 992px) {
      &:hover {
        color: $accent-color;
        transition: ease color 0.3s;
      }
    }
  }
}

.dropdown-icon {
  position: absolute;
  right: 0;
  top: 12px;
  width: 9px;
  height: 8px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: #506d7b;
  }

  &::before {
    top: 3px;
    width: 100%;
    height: 2px;
  }

  &::after {
    right: 4px;
    width: 2px;
    height: 100%;
    transition: ease transform 0.3s;
  }

  &.active::after {
    transform: rotate(-90deg);
    transition: ease transform 0.3s;
  }
}

.user-nav {
  display: flex;
  align-items: flex-end;
  transform: translateY(5px);

  // .user-nav__item
  &__item+.user-nav__item {
    margin-left: 19px;
  }

  // .user-nav__search
  &__search {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #edf1f4;
  }

  // .user-nav__actions
  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 25px;
    height: 50px;
    min-width: 180px;
    background-color: $accent-bg;
  }

  &__actions-link {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    text-align: center;
    transition: ease background-color 0.3s;

    @media (min-width: 992px) {
      &:hover {
        background-color: #fde7d3;
        transition: ease background-color 0.3s;
      }
    }
  }

  &__num {
    position: absolute;
    right: -8px;
    top: -5px;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0 2px;
    height: 16px;
    min-width: 16px;
    font-size: 10px;
    color: $second-color;
    background-color: #fff;
    @extend%dmsans-regular;
  }

  &__actions-link:not(:first-child) {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 1px;
      height: 70%;
      background-color: #fde7d3;
    }
  }

  &__catalog-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: $second-bg;
  }

  &__actions-link__box {
    position: relative;
    line-height: 0;
  }

  // .user-nav__item-img
  &__item-img {
    display: inline-block;
    width: 19px;
    height: 19px;
  }
}

.footer-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dae4e9;
  padding: 77px 0 40px;

  &__contact {
    margin-top: -11px;
    width: 100%;
    max-width: 200px;
  }

  // .footer-top__logo

  &__logo {
    display: inline-block;
    margin-bottom: 17px;
  }

  &__item-link+.footer-top__item-link {
    margin-top: 15px;
  }

  // .footer-top__item-link

  &__item-link {
    display: block;
    font-size: 14px;
    line-height: 22px;
    color: $primary-color;
    transition: ease color 0.3s;

    &:hover {
      color: $second-color;
      transition: ease color 0.3s;
    }
  }

  &__nav {
    margin-right: 6.9%;
    width: 100%;
    max-width: 120px;
  }

  // .footer-top__title

  &__title {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;

    @extend %dmsans-bold;
  }

  // .footer-top__list

  &__list {}

  // .footer-top__list-item

  &__list-item+.footer-top__list-item {
    margin-top: 15px;
  }

  // .footer-top__list-link

  &__list-link {
    @extend.footer-top__item-link;
  }

  // .footer-top__item-text

  &__item-text {
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 22px;
    color: $primary-color;
  }

  &__form {
    width: 100%;
    max-width: 270px;
  }

  // .footer-top__item-form
  &__item-form {
    font-size: 0;
  }

  // .footer-top__item-input

  &__item-input {
    border: none;
    padding: 12px 16px;
    width: 100%;
    max-width: 170px;
    font-size: 16px;
    background-color: #fef7f0;

    &::placeholder {
      font-size: 12px;
      color: #234969;

      @extend %dmsans-regular;
    }
  }

  // .footer-top__item-btn

  &__item-btn {
    border: none;
    padding: 12px 0;
    width: 100%;
    max-width: 100px;
    font-size: 14px;
    color: #fff;
    background-color: $second-bg;
    cursor: pointer;

    @extend %dmsans-regular;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  font-size: 14px;
  color: $primary-color;

  &__breadcrumbs {
    display: flex;
    align-items: flex-end;
  }

  &__breadcrumbs-item+.footer-bottom__breadcrumbs-item {
    position: relative;
    margin-left: 30px;

    &::before {
      content: "|";
      position: absolute;
      left: -15px;
      top: 0;
      width: 3px;
      height: 100%;
      color: currentColor;
    }
  }

  &__breadcrumbs-link {
    color: $primary-color;
    cursor: pointer;

    &:hover {
      color: $second-color;
      transition: ease color 0.3s;
    }
  }
}

.top-slider {
  background-color: $accent-bg;

  &__inner {
    display: flex;
    align-items: center;
    padding: 20px 0;
    min-height: 822px;
    background-position: center right;
    background-size: 55% 73%;
    background-repeat: no-repeat;
  }

  &__item {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 40px;
    max-width: 418px;
    font-size: 72px;
    line-height: 70px;
    color: $second-color;

  }

  &__text {
    margin-bottom: 40px;
    max-width: 370px;
  }

  &__link {
    position: relative;
    padding: 20px 100px 20px 28px;
    transition: ease background-color 0.3s;

    @extend %btn;

    &::after {
      content: "";
      position: absolute;
      right: 18px;
      top: 50%;
      width: 22px;
      height: 9px;
      background-image: url("../images/icons/arrow-right.svg");
      transform: translateY(-50%);

      @extend %bg;
    }

    @media (min-width: 992px) {
      &:hover {
        background-color: $second-color;
        transition: ease background-color 0.3s;
      }
    }
  }

  &__img {
    position: relative;
    display: flex;
    align-items: center;
    overflow-y: visible;
  }

  .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 30px;
    display: flex;
    align-items: center;
    transform: translateX(-50%);

    li+li {
      margin-left: 12px;
    }

    li {
      line-height: 0;
    }

    button {
      border: none;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      font-weight: 500;
      font-size: 11px;
      line-height: 30px;
      text-align: center;
      color: $second-color;
      background-color: #fff;
      opacity: 0.302;
      cursor: pointer;
    }
  }

  .slick-active {
    button {
      opacity: 1;
    }
  }
}

.info {
  padding: 45px 0;
  background-color: #fef7f0;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    padding-left: 75px;
    max-width: 280px;
    background-position: top left;
    background-size: 50px 50px;
    background-repeat: no-repeat;
  }

  &__item-title {
    margin-bottom: 5px;
    font-size: 18px;
    color: $accent-color;

    @extend %dmsans-bold;
  }

  &__item-text {
    font-size: 16px;

    @extend %dmsans-regular;
  }
}

.product {
  padding: 70px 0 30px;

  &__title {
    margin-bottom: 20px;
  }

  &__filter {
    margin-bottom: 75px;
  }

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .product-item {
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.filter {
  display: flex;
  justify-content: center;

  &__btn {
    border: none;
    padding: 0;
    font-size: 16px;
    color: $primary-color;
    background-color: transparent;
    transition: ease color 0.3s;
    cursor: pointer;

    @extend %dmsans-bold;

    &:hover {
      color: $title-color;
      transition: ease color 0.3s;
    }
  }

  &__btn+.filter__btn {
    margin-left: 30px;
  }

  .mixitup-control-active {
    color: $title-color;
    transition: ease color 0.3s;
  }
}

.product-item {
  margin-right: 30px;
  margin-bottom: 40px;

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;
    min-height: 366px;
    font-size: 18px;
    max-width: 270px;
    min-width: 270px;
    box-shadow: 0 6px 17px 3px rgba(65, 40, 40, 0.05);
    background-color: #fff;
    border-radius: 18px;


    &:hover {
      .user-action {
        opacity: 1;
        visibility: visible;
        transition: ease opacity 0.3s, ease visibility 0.3s;
      }
    }
  }

  &__img-box {
    display: flex;
    flex: 1 1 auto;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__img {
    flex-shrink: 0;
    max-height: 205px;
    object-fit: cover;
  }

  &__box {
    text-align: center;
  }

  &__title {}

  &__price {}

  &__text {
    display: none;
  }

  &__rate {
    display: none;
  }

  &.product-item--list {
    margin-right: 0;

    .product-item__wrapper {
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      min-height: auto;
      padding: 0;
      width: auto;
      font-size: 18px;
      max-width: none;
      box-shadow: none;
      background-color: transparent;
      border-radius: 0;
    }

    .product-item__img-box {
      flex: 0 1 auto;
      align-items: center;
      margin-right: 60px;
      border: 1px solid #f2f2f2;
      min-height: 500px;
      min-width: 370px;
      max-width: 370px;
    }

    .product-item__box {
      display: flex;
      flex-direction: column;
      max-width: 415px;
      text-align: left;
    }

    .product-item__img {
      max-height: 345px;
    }

    .product-item__title {
      order: -1;
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 40px;
      color: #333;
    }

    .product-item__rate {
      display: block;
      order: -1;
      margin-bottom: 30px;
    }

    .product-item__price {
      margin-bottom: 30px;
      font-size: 30px;
      color: #333;
    }

    .product-item__text {
      display: block;
      margin-bottom: 40px;
      font-size: 16px;
      color: $second-color;
    }

    .user-action {
      order: 1;
      position: relative;
      opacity: 1;
      visibility: visible;
      left: 0;
      top: 0;
      transform: translateX(0);

      &__link--search {
        display: none;
      }

      &__link {
        margin-right: 20px;
        border-radius: 0;
        box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);

        &+.user-action__link {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.user-action {
  position: absolute;
  left: 50%;
  top: 150px;
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%);
  transition: ease opacity 0.3s, ease visibility 0.3s;

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
    background-color: #fff;
    transition: ease background-color 0.3s;

    @media (min-width: 992px) {
      &:hover {
        background-color: $second-bg;
        transition: ease background-color 0.3s;

        .user-action__icon {
          path {
            fill: #fff;
            transition: ease fill 0.3s;
          }
        }
      }
    }
  }

  &__link--active {
    background-color: $second-bg;
    transition: ease background-color 0.3s;

    .user-action__icon {
      path {
        fill: #fff;
        transition: ease fill 0.3s;
      }
    }
  }

  &__link+&__link {
    margin-left: 20px;
  }

  &__icon {
    path {
      transition: ease fill 0.3s;
    }
  }
}

.sale {
  padding: 200px 0 75px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 100%;
    max-width: 50%;
    color: $second-color;
    background-color: $accent-bg;
  }

  &__item+.sale__item {
    margin-left: 30px;
  }

  &__item-img__box {
    margin-right: 30px;
    width: 100%;
    max-width: 320px;
    transform: translateY(-120px);
  }

  &__item-info {
    max-width: 330px;
  }

  &__item-title {
    margin-bottom: 20px;
    font-size: 26px;

    @extend %dmsans-bold;
  }

  &__item-text {
    margin-bottom: 35px;
    font-size: 16px;
  }

  &__item-link {
    display: inline-block;
    border: 1px solid #b3b7b5;
    border-radius: 4px;
    padding: 15px 90px 15px 18px;
    font-weight: 500;
    font-size: 15px;
    color: $default-color;
    background-image: url("../images/sale/icon.svg");
    background-position: 95% center;
    background-size: 22px 9px;
    background-repeat: no-repeat;
  }
}

.design {
  padding: 50px 0 120px;

  &__title {
    margin-bottom: 30px;
  }

  &__filter {
    margin-bottom: 75px;
  }

  &__items {
    display: grid;
    grid-gap: 30px 25px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.design-item {
  padding-top: 25px;
  padding-left: 35px;
  min-height: 250px;
  background-position: 95% center;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #f8f8f8;

  @extend %dmsans-bold;

  &__title {
    margin-bottom: 5px;
    width: 100%;
    max-width: 200px;
    font-size: 20px;
    color: $title-color;
  }

  &__subtitle {
    font-size: 16px;
    color: $second-bg;
  }
}

.video {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;

  @extend %bg;

  &__btn {
    width: 98px;
    height: 98px;
  }
}

.articles {
  padding: 110px 0 50px;

  &__box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__inner {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }

  &__link {
    position: relative;
    display: inline-block;
    padding-right: 25px;
    font-size: 16px;
    color: $title-color;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      width: 6px;
      height: 11px;
      background-image: url("../images/icons/articles-right.svg");
      transform: translateY(-50%);
    }

    @extend %dmsans-bold;
  }
}

.articles-item {
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  max-width: 370px;
  box-shadow: 6px 6px 23px -3px rgba(34, 60, 80, 0.14);
  background-color: #fff;

  &__imgbox {
    position: relative;
    margin-bottom: -34px;

    a {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 34px;
    }
  }

  &__img {
    height: 250px;
    object-fit: cover;
  }

  &__box {
    padding: 35px 30px 25px;
  }

  &__promo {
    position: relative;
    z-index: 10;
    display: inline-block;
    border-radius: 35px;
    padding: 10px 40px;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    background-color: $second-bg;
    transform: translate(25px, -16px);

    @extend %dmsans-bold;
  }

  &__text {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;

    @extend %dmsans-medium;
  }

  &__textlink {
    display: block;
    color: #262626;
  }

  &__info {
    display: flex;
    padding-top: 10px;
    font-size: 12px;
    color: #222933;
  }

  &__time {
    margin-right: 30px;
  }

  &__time,
  &__author {
    position: relative;
    padding-left: 22px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 14px;
      height: 14px;
      transform: translateY(-50%);

      @extend %bg;
    }
  }

  &__time {
    &::before {
      background-image: url("../images/icons/clock.svg");
    }
  }

  &__author {
    color: #222933;

    &::before {
      background-image: url("../images/icons/user.svg");
    }
  }
}

ul.partners {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 40px 15px;
  background-color: #fcf5ee;

  &--long {
    margin-top: -201px;
    padding: 275px 15px 80px;
  }
}

.partners__item+.partners__item {
  margin-left: 100px;
}

.top {
  padding: 30px 0;
  text-align: center;
  background-color: #edf1f4;

  &__title {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 36px;
    color: #222933;
  }
}

.modal {
  font-size: 14px;
  padding: 115px 0 120px;

  &__form {
    margin: 0 auto;
    max-width: 475px;
    font-size: 14px;
  }

  &__label {
    display: block;
    margin-bottom: 20px;

    &:nth-child(2) {
      margin-bottom: 35px;
    }
  }

  &__input {
    display: block;
    border: 2px solid #f6f6f6;
    padding: 0 10px;
    width: 100%;
    height: 60px;
  }

  &__btn {
    border: none;
    padding: 18px 0;
    margin-bottom: 30px;
    width: 100%;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    background-color: $second-bg;
    cursor: pointer;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #f6f6f6;
  }

  &__error {}

  &__text {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }

  &__link {
    text-align: center;
    display: block;
    padding: 20px 0;
    border: 2px solid $second-bg;
    font-weight: 500;
    font-size: 18px;
    color: $second-color;
  }
}

.about {
  padding: 120px 0;

  &__inner {
    display: flex;
    align-items: center;
  }
}

.about-img {
  margin-right: 30px;
  max-width: 570px;
}

.about-content {
  max-width: 570px;

  &__descr {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 60px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      min-width: 500px;
      background-color: $second-bg;
    }
  }

  &__caption {
    display: flex;
    align-items: flex-end;
    margin-bottom: 35px;
  }

  &__num {
    margin-right: 30px;
    font-weight: 500;
    font-size: 140px;
    line-height: 0.8;
    color: $second-bg;
  }

  &__word {
    max-width: 55px;
    font-size: 16px;
    color: $second-color;
  }

  &__title {
    margin-bottom: 45px;
  }

  &__title,
  &__numbers {
    font-size: 36px;
    color: $second-color;

    @extend %dmsans-bold;
  }

  &__text {
    font-size: 16px;
    color: $second-color;
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__item {
    padding: 13px 0 10px 90px;
    background-position: 28px 19px;
    background-size: 42px 40px;
    background-repeat: no-repeat;

    &+.about-content__item {
      margin-left: 35px;
      border-left: 1px solid #e6eaf0;
    }
  }

  &__numbers {
    margin-bottom: 7px;
  }

  &__subtext {
    margin-left: 3px;
    font-size: 16px;
    color: #4c4c4c;
    @extend %dmsans-bold;
  }
}

.features {
  padding: 95px 0 75px;
  background-color: #fcd7b6;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    min-width: 135px;
    text-align: center;
    color: $second-color;
  }

  &__item-box {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }

  &__item-img {
    margin-bottom: 5px;
    display: inline-block;
  }

  &__item-num {
    margin-bottom: 25px;
    color: $second-color;
  }

  &__item-text {
    font-size: 18px;
    @extend %dmsans-bold;
  }
}

.team {
  padding: 115px 0 100px;

  &__inner {
    display: flex;
  }

  &__info {
    margin-right: 7%;
    max-width: 300px;
  }

  &__info-title {
    text-align: start;
    margin-bottom: 30px;
    color: $second-color;
  }

  &__info-text {
    margin-bottom: 40px;
    font-size: 16px;
    color: $second-color;
  }

  &__info-link {
    display: inline-block;
    border-radius: 9px;
    position: relative;
    padding: 18px 60px 18px 15px;
    font-size: 15px;
    color: #fff;
    background-color: $second-bg;
    @extend %dmsans-bold;

    &::after {
      content: '';
      position: absolute;
      right: 26px;
      top: 50%;
      width: 15px;
      height: 12px;
      transform: translateY(-50%);
      background-image: url('../images/icons/angle-right.svg');
      background-repeat: no-repeat;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    margin-bottom: 20px;
    margin-right: 20px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.item-team {
  max-width: 47%;

  &__box {}

  &__img {}

  &__info {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: -60px;
    box-shadow: 0 6px 57px 0 rgba(37, 37, 37, 0.05);
    padding: 28px 25px;
    max-width: 85%;
    background-color: #fff;
  }

  &__descr {}

  &__title {
    margin-bottom: 10px;
    font-size: 22px;
    @extend %dmsans-bold;
  }

  &__text {
    font-size: 16px;
    color: #565872;
  }
}

.products {
  padding: 115px 0 120px;

  &__inner {
    display: flex;
    align-items: flex-start;
  }

  &__filters {
    margin-right: 30px;
  }
}

.products-content {
  font-size: 16px;

  &__filter {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
    border: 1px solid #ebebeb;
    padding: 10px 30px;
    font-size: 16px;
    color: #8d8d8d;
  }

  &__filter-buttons {
    display: flex;
    align-items: center;
  }

  &__filter-btn {
    margin-left: 15px;
    border: none;
    outline: none;
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;

    &--active {
      svg {
        path {
          fill: $second-color;
        }
      }
    }
  }

  &__filter-selects {}

  &__filter-select {
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;

    .product-item {
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}


.jq-selectbox__select {
  height: auto;
  padding: 0 19px 0 0;
  border: none;
  background: transparent;
  box-shadow: none;
  font: inherit;
  text-shadow: none;
  color: inherit;

  &:hover {
    background: transparent;
  }
}

.jq-selectbox__trigger {
  border-left: none;

  &-arrow {
    position: absolute;
    right: 0;
    top: 13px;
    border: none;
    width: 10px;
    height: 5px;
    background-image: url('../images/icons/arrow-down.svg');
  }
}

.filters {
  min-width: 270px;
  font-size: 16px;
  color: $second-color;

  &__item+.filters__item {
    margin-top: 30px;
  }

  &__item {
    overflow-y: hidden;
  }

  &__item--hidden {
    .filters__wrapper {
      max-height: 0;
      transition: max-height 0.2s ease;
    }

    .filters__title::before {
      top: 4px;
      transform: rotate(0);
      transition: transform 0.3s ease, top 0.3s ease;
    }
  }

  &__wrapper {
    max-height: 100vh;
    transition: max-height 0.2s ease;
  }

  &__title {
    position: relative;
    z-index: 10;
    display: inline-block;
    margin-bottom: 25px;
    padding-right: 40px;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;

    &::before {
      content: "";
      position: absolute;
      right: 12px;
      top: 50%;
      display: inline-block;
      width: 2px;
      height: 25px;
      background-color: $second-bg;
      transform: translateY(-50%) rotate(-90deg);
      transition: transform 0.3s ease, top 0.3s ease;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      width: 25px;
      height: 2px;
      background-color: $second-bg;
      transform: translateY(-50%);
    }

    @extend %dmsans-bold;
  }
}

.filters-category {

  &__form {}

  &__label {
    display: block;
    cursor: pointer;

    &+.filters-category__label {
      margin-top: 5px;
    }
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked+.filters-category__checkbox {
      background-color: #edf1f4;
    }
  }

  &__checkbox {
    position: relative;
    display: block;
    border-radius: 9px;
    padding: 12px 0 12px 15px;

    &::after {
      content: "";
      position: absolute;
      right: 22px;
      top: 22px;
      width: 5px;
      height: 10px;
      background-image: url('../images/icons/icon-right.svg');
      background-repeat: no-repeat;
    }
  }
}

.filters-price {

  &__form {}

  &__input {}

  &__numbers {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }

  &__from::before,
  &__to::before {
    content: "$";
    left: 0;
    font-size: 14px;
    color: $second-color;
  }

  &__num {}
}

.irs-min,
.irs-max,
.irs-from,
.irs-to,
.irs-single {
  display: none;
}

.irs--flat .irs-line {
  top: 6px;
  border-radius: 0;
  height: 3px;
  background-color: #c2d2db;
}

.irs--flat .irs-bar {
  top: 5px;
  height: 4px;
  background-color: $second-bg;
}

.irs--flat .irs-handle {
  top: 0;
  width: 15px;
  height: 15px;
  background-color: $second-bg;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.filters-brand {

  &__form {}

  &__label {
    display: block;
    cursor: pointer;

    &+.filters-brand__label {
      margin-top: 5px;
    }
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked+.filters-brand__checkbox {
      background-color: #edf1f4;

      &>.filters-brand__quantity {
        color: $second-color;
      }
    }
  }

  &__checkbox {
    display: flex;
    justify-content: space-between;
    border-radius: 9px;
    padding: 13px 25px 13px 15px;
  }

  &__text {}

  &__quantity {
    color: #b3b3b3;
  }
}

.jq-ry-container {
  padding: 0;
}

.filters-recent {
  &__item {
    display: inline-flex;
    align-items: flex-start;
    width: 100%;

    &+.filters-recent__item {
      margin-top: 25px;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border: 2px solid #f2f2f2;
    width: 70px;
    height: 70px;
  }

  &__img {
    object-fit: cover;
  }

  &__info {
    line-height: 1.3;
  }

  &__link {
    display: inline-block;
    margin-bottom: 10px;
    color: #333;
  }

  &__rate {
    margin-bottom: 8px;
  }

  &__num {
    color: #333;
  }
}

.products-page {
  padding: 120px 0 110px;
}

.products-one {
  &__inner {
    display: flex;
    align-items: center;
  }

  &__slide {
    margin-right: 65px;
  }

  &__slide,
  &__content {
    max-width: 550px;
  }

  &__content {}

  &__title {
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 40px;
    color: $title-color;
  }

  &__rate {
    margin-bottom: 35px;
  }

  &__price {
    margin-bottom: 35px;
    font-size: 30px;
    color: $title-color;
  }

  &__text {
    margin-bottom: 35px;
    font-size: 16px;
    color: $second-color;
  }

  &__box {
    margin-bottom: 50px;
  }

  &__input {
    margin-right: 15px;
    font-size: 15px;
    color: $title-color;
  }

  &__btn {
    display: inline-block;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    text-transform: uppercase;
    background-color: $second-bg;
    padding: 15px 50px;
    color: #fff;
    cursor: pointer;
  }

  &__list {}

  &__item {
    color: $second-color;
  }

  .jq-number__field input {
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
    border: none;
  }

  .jq-number__field {
    width: 148px;
    height: 43px;
    border: 1px solid $second-bg;
    text-align: center;
    box-shadow: none;
    border-radius: 0;
  }

  .jq-number {
    position: relative;
    padding: 0;

    &__spin {
      position: absolute;
      width: 49px;
      height: 100%;
      top: 0;
      right: 0;
      user-select: none;
      cursor: pointer;

      &.minus {
        left: 0;
        right: auto;
        border-right: 1px solid $second-bg;
      }

      &.minus::after,
      &.plus::after {
        content: '';
        top: 50%;
        left: 20px;
        border: none;
        position: absolute;
        width: 9px;
        height: 1px;
        background-color: $title-color;
      }

      &.plus {
        border-left: 1px solid $second-bg;

        &::before {
          content: '';
          position: absolute;
          top: 18px;
          left: 50%;
          width: 1px;
          height: 9px;
          background-color: $title-color;
        }
      }
    }
  }
}

.products-slide {
  display: flex;

  .slick-vertical .slick-slide {
    height: 160px;
    margin-bottom: 25px;
  }

  &__nav {
    margin-right: 25px;
    width: 140px;
  }

  &__nav-item {
    border: 2px solid #f2f2f2;
    height: 160px;
    cursor: pointer;

    img {
      max-height: 100%;
      margin: 0 auto;
      object-fit: cover;
    }

  }

  &__for {
    width: 388px;
    height: 530px;
  }

  &__for-item {
    border: 2px solid #f2f2f2;
    width: 388px;
    height: 530px;

    img {
      max-height: 407px;
      max-width: 255px;
      margin: 10% auto;
      vertical-align: middle;
      object-fit: cover;
    }
  }
}


.product-one {

  &__box {}
}

.products-tabs {
  padding-top: 80px;

  &__control {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__control-link {
    margin-right: 15px;
    display: inline-block;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    text-transform: none;
    background-color: #edf1f4;
    padding: 15px 50px;
    color: $second-color;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      background-color: $second-bg;
      color: #fff;
    }
  }

  &__content {}

  &__content-item {
    display: none;
    color: $second-color;

    &--active {
      display: block;
    }
  }
}

.related-slide {
  margin: -20px;
  overflow: visible;

  .product-item {
    padding: 20px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .product-item__wrapper {
    display: flex !important;
  }

  .slick-list {
    overflow: hidden;
  }

  .slick-arrow {
    position: absolute;
    z-index: 10;
    left: auto;
    right: 30px;
    font-size: 0;
    top: -74px;
    line-height: 0;
    background-color: transparent;
    padding: 0;
    border: 1px solid $second-bg;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    outline: none;

    &:focus {
      border-color: $second-color;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 14px;
      width: 22px;
      height: 9px;
      transform: translateY(-50%);
    }
  }

  .slick-next::before {
    background-image: url('../images/icons/arrow-next.svg');
    background-repeat: no-repeat;
  }

  .slick-prev {
    right: 100px;

    &::before {
      background-image: url('../images/icons/arrow-prev.svg');
      background-repeat: no-repeat;
    }
  }
}

.products-related {

  &__title {
    margin-bottom: 65px;
    text-align: left;
  }

  &__slide {}
}



@import "media";