@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  padding: 44px 0;
  background-color: $white-color;

  // .header__inner
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    margin-left: 9%;
  }
}

.menu {

  // .menu__list
  &__list {
    display: flex;
  }

  &__list-item {
    position: relative;
    flex-shrink: 0;
  }

  // .menu__list-item
  &__list-item+.menu__list-item {
    margin-left: 40px;
  }

  // .menu__list-link
  &__list-link {
    position: relative;
    font-size: 15px;
    line-height: 12px;
    color: $default-color;
    transition: ease color 0.3s;
    cursor: default;

    @media (min-width: 992px) {
      &:hover {
        color: $accent-color;
        transition: ease color 0.3s;
      }
    }
  }
}

.sub-menu {

  // .sub-menu__list
  ul &__list {
    position: absolute;
    left: -50%;
    top: 20px;
    padding-top: 20px;
    width: 90px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    transition: ease opacity 0.3s, ease visibility 0.3s, ease transform 0.3s;
  }

  &__submit:hover.sub-menu__list {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: ease opacity 0.3s, ease visibility 0.3s, ease transform 0.3s;
  }

  // .sub-menu__link

  &__link {
    display: block;
    padding: 7px 2px;
    cursor: pointer;
    @extend.menu__list-link;
  }

  // .sub-menu__item

  &__item {
    background-color: $second-bg;
  }
}

.user-nav {
  display: flex;
  align-items: flex-end;
  transform: translateY(5px);

  // .user-nav__item
  &__item+.user-nav__item {
    margin-left: 19px;
  }

  // .user-nav__search
  &__search {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #edf1f4;
  }

  // .user-nav__actions
  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 25px;
    height: 50px;
    min-width: 180px;
    background-color: $accent-bg;
  }

  &__actions-link {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    text-align: center;
    transition: ease background-color 0.3s;

    @media (min-width: 992px) {
      &:hover {
        background-color: #fde7d3;
        transition: ease background-color 0.3s;
      }
    }
  }

  &__num {
    position: absolute;
    right: -8px;
    top: -5px;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0 2px;
    height: 16px;
    min-width: 16px;
    font-size: 10px;
    color: $second-color;
    background-color: $white-color;
    @extend%dmsans-regular;
  }

  &__actions-link:not(:first-child) {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 1px;
      height: 70%;
      background-color: #fde7d3;
    }
  }

  &__catalog-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: $second-bg;
  }

  &__actions-link__box {
    position: relative;
    line-height: 0;
  }

  // .user-nav__item-img
  &__item-img {
    display: inline-block;
    width: 19px;
    height: 19px;
  }
}

.footer-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dae4e9;
  padding: 77px 0 40px;

  &__contact {
    margin-top: -11px;
    width: 100%;
    max-width: 200px;
  }

  // .footer-top__logo

  &__logo {
    display: inline-block;
    margin-bottom: 17px;
  }

  &__item-link+.footer-top__item-link {
    margin-top: 15px;
  }

  // .footer-top__item-link

  &__item-link {
    display: block;
    font-size: 14px;
    line-height: 22px;
    color: $primary-color;
    transition: ease color 0.3s;

    &:hover {
      color: $second-color;
      transition: ease color 0.3s;
    }
  }

  &__nav {
    margin-right: 6.9%;
    width: 100%;
    max-width: 120px;
  }

  // .footer-top__title

  &__title {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;

    @extend %dmsans-bold;
  }

  // .footer-top__list

  &__list {}

  // .footer-top__list-item

  &__list-item+.footer-top__list-item {
    margin-top: 15px;
  }

  // .footer-top__list-link

  &__list-link {
    @extend.footer-top__item-link;
  }

  // .footer-top__item-text

  &__item-text {
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 22px;
    color: $primary-color;
  }

  &__form {
    width: 100%;
    max-width: 270px;
  }

  // .footer-top__item-form
  &__item-form {
    font-size: 0;
  }

  // .footer-top__item-input

  &__item-input {
    border: none;
    padding: 12px 16px;
    width: 100%;
    max-width: 170px;
    font-size: 16px;
    background-color: $primary-bg;

    &::placeholder {
      font-size: 12px;
      color: #234969;

      @extend %dmsans-regular;
    }
  }

  // .footer-top__item-btn

  &__item-btn {
    border: none;
    padding: 12px 0;
    width: 100%;
    max-width: 100px;
    font-size: 14px;
    color: $white-color;
    background-color: $second-bg;
    cursor: pointer;

    @extend %dmsans-regular;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  font-size: 14px;
  color: $primary-color;
}

.breadcrumbs {
  display: flex;
  align-items: flex-end;

  // .breadcrumbs_link

  &_link {
    color: $primary-color;

    &:hover {
      color: $second-color;
      transition: ease color 0.3s;
    }
  }

  &__item+.breadcrumbs__item {
    position: relative;
    margin-left: 30px;

    &::before {
      content: "|";
      position: absolute;
      left: -15px;
      top: 0;
      width: 3px;
      height: 100%;
      color: currentColor;
    }
  }

  // .breadcrumbs__item
  &__item {}
}

.top-slider {
  background-color: $accent-bg;

  &__inner {
    display: flex;
    align-items: center;
    padding: 20px 0;
    min-height: 822px;
    background-position: center right;
    background-size: 55% 73%;
    background-repeat: no-repeat;
  }

  &__item {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 40px;
    max-width: 418px;
    font-size: 72px;
    line-height: 70px;
    color: $second-color;

  }

  &__text {
    margin-bottom: 40px;
    max-width: 370px;
  }

  &__link {
    position: relative;
    padding: 20px 100px 20px 28px;
    transition: ease background-color 0.3s;

    @extend %btn;

    &::after {
      content: "";
      position: absolute;
      right: 18px;
      top: 50%;
      width: 22px;
      height: 9px;
      background-image: url("../images/icons/arrow-right.svg");
      transform: translateY(-50%);

      @extend %bg;
    }

    @media (min-width: 992px) {
      &:hover {
        background-color: $second-color;
        transition: ease background-color 0.3s;
      }
    }
  }

  &__img {
    position: relative;
    display: flex;
    align-items: center;
    overflow-y: visible;
  }

  .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 30px;
    display: flex;
    align-items: center;
    transform: translateX(-50%);

    li+li {
      margin-left: 12px;
    }

    li {
      line-height: 0;
    }

    button {
      border: none;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      font-weight: 500;
      font-size: 11px;
      line-height: 30px;
      text-align: center;
      color: $second-color;
      background-color: $white-color;
      opacity: 0.302;
      cursor: pointer;
    }
  }

  .slick-active {
    button {
      opacity: 1;
    }
  }
}

.info {
  padding: 45px 0;
  background-color: $primary-bg;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    padding-left: 75px;
    max-width: 280px;
    background-position: top left;
    background-size: 50px 50px;
    background-repeat: no-repeat;
  }

  &__item-title {
    margin-bottom: 5px;
    font-size: 18px;
    color: $accent-color;

    @extend %dmsans-bold;
  }

  &__item-text {
    font-size: 16px;

    @extend %dmsans-regular;
  }
}

.product {
  padding: 70px 0 30px;

  &__title {
    margin-bottom: 20px;
  }

  &__filter {
    margin-bottom: 75px;
  }

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.filter {
  display: flex;
  justify-content: center;

  &__btn {
    border: none;
    padding: 0;
    font-size: 16px;
    color: $primary-color;
    background-color: transparent;
    transition: ease color 0.3s;
    cursor: pointer;

    @extend %dmsans-bold;

    &:hover {
      color: $title-color;
      transition: ease color 0.3s;
    }
  }

  &__btn+.filter__btn {
    margin-left: 30px;
  }

  .mixitup-control-active {
    color: $title-color;
    transition: ease color 0.3s;
  }
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  margin-bottom: 40px;
  padding: 30px 15px;
  width: 100%;
  min-height: 366px;
  max-width: 270px;
  box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
  background-color: #fff;

  &__img-box {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__img {
    flex-shrink: 0;
  }

  &__title {}

  &__price {}

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:hover {
    .user-action {
      opacity: 1;
      visibility: visible;
      transition: ease opacity 0.3s, ease visibility 0.3s;
    }

    @media (max-width: 1200px) {

      &:nth-child(4n) {
        margin-right: 30px;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

.user-action {
  position: absolute;
  left: 50%;
  bottom: 10px;
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%);
  transition: ease opacity 0.3s, ease visibility 0.3s;

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
    background-color: #fff;
    transition: ease background-color 0.3s;

    @media (min-width: 992px) {
      &:hover {
        background-color: $second-bg;
        transition: ease background-color 0.3s;

        .user-action__icon {
          path {
            fill: #fff;
            transition: ease fill 0.3s;
          }
        }
      }
    }
  }

  &__link--active {
    background-color: $second-bg;
    transition: ease background-color 0.3s;

    .user-action__icon {
      path {
        fill: #fff;
        transition: ease fill 0.3s;
      }
    }
  }

  &__link+&__link {
    margin-left: 20px;
  }

  &__icon {
    path {
      transition: ease fill 0.3s;
    }
  }
}

.sale {
  padding: 200px 0 75px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 100%;
    max-width: 50%;
    color: $second-color;
    background-color: $accent-bg;
  }

  &__item+.sale__item {
    margin-left: 30px;
  }

  &__item-img__box {
    margin-right: 30px;
    width: 100%;
    max-width: 320px;
    transform: translateY(-120px);
  }

  &__item-info {
    max-width: 330px;
  }

  &__item-title {
    margin-bottom: 20px;
    font-size: 26px;

    @extend %dmsans-bold;
  }

  &__item-text {
    margin-bottom: 35px;
    font-size: 16px;
  }

  &__item-link {
    display: inline-block;
    border: 1px solid #b3b7b5;
    border-radius: 4px;
    padding: 15px 90px 15px 18px;
    font-weight: 500;
    font-size: 15px;
    color: $default-color;
    background-image: url("../images/sale/icon.svg");
    background-position: 95% center;
    background-size: 22px 9px;
    background-repeat: no-repeat;
  }
}

.design {
  padding: 50px 0 120px;

  &__title {
    margin-bottom: 30px;
  }

  &__filter {
    margin-bottom: 75px;
  }

  &__items {
    display: grid;
    grid-gap: 30px 25px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.design-item {
  padding-top: 25px;
  padding-left: 35px;
  min-height: 250px;
  background-position: 95% center;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #f8f8f8;

  @extend %dmsans-bold;

  &__title {
    margin-bottom: 5px;
    width: 100%;
    max-width: 200px;
    font-size: 20px;
    color: $title-color;
  }

  &__subtitle {
    font-size: 16px;
    color: $second-bg;
  }
}

.video {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;

  @extend %bg;
  &__btn {
    width: 98px;
    height: 98px;
  }
}

@import "media";