<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glee</title>
  <link rel="stylesheet" href="css/product.min.css">
</head>

<body>
  <div class="site-container">
    {% include 'app/module/_header/_header.njk' %}
  <main class="main">
    {% include 'app/module/_top/_top.html' %}
    {% include 'app/module/_product/_product-page/_product-page.html' %}
    {% include 'app/module/_product/_products-related/_products-related.html' %}
    {% include 'app/module/_index/_articles/_articles.html' %}
  </main>
  {% include 'app/module/_footer/_footer.html' %}
  </div>
   <script src="js/main.min.js"></script>
</body>

</html>