<header class="header">
  <div class="container-add">
    <div class="header__inner">
      <a class="logo" href="#">
        <img src="images/logo.png" alt="logo">
      </a>
      <nav class="menu header__menu">
        <a class="menu__search search" href="#">
          <img class="user-nav__img" src="images/icons/search.svg" alt="search">
        </a>
        <button class="menu__btn">
          <span class="menu__btn-line"></span>
        </button>
        <div class="menu__box">
          <ul class="menu__list">
            <li class="menu__list-item submenu-box">
              <a class="menu__list-link" href="#">Home</a>
              <span class="dropdown-icon"></span>
              <ul class="submenu">
                <li class="submenu__item">
                  <a class="submenu__link" href="#">Lorem, ipsum.</a>
                </li>
                <li class="submenu__item">
                  <a class="submenu__link" href="#">Lorem, ipsum.</a>
                </li>
                <li class="submenu__item">
                  <a class="submenu__link" href="#">Lorem, ipsum.</a>
                </li>
              </ul>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#">About</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#">Services</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#">Pages</a>
            </li>
            <li class="menu__list-item submenu-box">
              <a class="menu__list-link" href="#">News</a>
              <span class="dropdown-icon"></span>
              <ul class="submenu">
                <li class="submenu__item">
                  <a class="submenu__link" href="#">Lorem, ipsum.</a>
                </li>
                <li class="submenu__item">
                  <a class="submenu__link" href="#">Lorem, ipsum.</a>
                </li>
                <li class="submenu__item">
                  <a class="submenu__link" href="#">Lorem, ipsum.</a>
                </li>
              </ul>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#">Contact</a>
            </li>
          </ul>
          <div class="user-nav">
            <div class="user-nav__item">
              <a class="user-nav__search search" href="#">
                <img class="user-nav__img" src="images/icons/search.svg" alt="search">
              </a>
            </div>
            <div class="user-nav__item user-nav__actions">
              <a class="user-nav__actions-link" href="#">
                <div class="user-nav__actions-link__box">
                  <img class="user-nav__item-img" src="images/icons/heart.svg" alt="liked product">
                  <span class="user-nav__num">0</span>
                </div>
              </a>
              <a class="user-nav__actions-link" href="#">
                <div class="user-nav__actions-link__box">
                  <img src="images/icons/breanch.svg" alt="basket">
                  <span class="user-nav__num">0</span>
                </div>
              </a>
            </div>
            <div class="user-nav__item user-nav__catalog">
              <a class="user-nav__catalog-link" href="#">
                <img class="user-nav__item-img" src="images/icons/eclipse.svg" alt="product catalog">
              </a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>