#map {
  width: 100%;
  height: 335px;
}

.contact-info {
  padding: 115px 0 70px;

  &__sub-title {
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
    color: $second-bg;
    @extend %dmsans-medium;
  }

  &__title {
    margin-bottom: 70px;
    color: $second-color;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -1%;
  }

  &__item {
    flex: 0 1 31.333%;
    margin: 0 1%;
    border: 2px solid transparent;
    padding: 70px 55px;
    text-align: center;
    background-color: #fbfbfb;
    transition: ease 0.3s border-color;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      border-color: $second-bg;
      transition: ease 0.3s border-color;

      .contact-info__icon {
        background-color: $second-bg;
        transition: ease 0.3s background-color;

        path {
          fill: #fff;
        }
      }
    }
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    width: 80px;
    height: 80px;
    background-color: #fff;
    transition: ease 0.3s background-color;

    path {
      transition: ease 0.3s fill;
    }
  }

  &__item-title {
    margin-bottom: 20px;
    font-size: 20px;
  }

  &__text,
  &__list-link,
  &__list-item {
    font-style: normal;
    font-size: 16px;
    color: #565872;
  }
}