<section class="blog-page">
  <div class="container">
    <div class="blog-page__inner">
      <button class="filter-btn">
        <img src="images/icons/filter.svg" alt="">
      </button>
      <div class="blog-page__content">
        <article class="blog-page__article">
          <div class="blog-page__article-imgbox">
            <a class="blog-page__img-link" href="#">
              <img src="images/blog/1-big.jpg" alt="blog images">
            </a>
            <div class="article-info">
              <time class="article-info__time">
                28 JANUARY, 2020
              </time>
              <a class="article-info__author" href="#">
                BY ADMIN
              </a>
            </div>
          </div>
          <a class="blog-page__title-link" href="#">
            <h4 class="blog-page__title">
              Fsectetur adipisicing tempor incididunt
            </h4>
          </a>
          <p class="blog-page__text">
            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna
          </p>
          <a class="blog-page__link" href="#">
            View More
          </a>
        </article>
        <article class="blog-page__article">
          <div class="blog-page__article-imgbox">
            <a class="blog-page__img-link" href="#">
              <img src="images/blog/2-big.jpg" alt="blog images">
            </a>
            <div class="article-info">
              <time class="article-info__time">
                28 JANUARY, 2020
              </time>
              <a class="article-info__author" href="#">
                BY ADMIN
              </a>
            </div>
          </div>
          <a class="blog-page__title-link" href="#">
            <h4 class="blog-page__title">
              Fsectetur adipisicing tempor incididunt
            </h4>
          </a>
          <p class="blog-page__text">
            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna
          </p>
          <a class="blog-page__link" href="#">
            View More
          </a>
        </article>
        <article class="blog-page__article">
          <div class="blog-page__article-imgbox">
            <a class="blog-page__img-link" href="#">
              <img src="images/blog/3-big.jpg" alt="blog images">
            </a>
            <div class="article-info">
              <time class="article-info__time">
                28 JANUARY, 2020
              </time>
              <a class="article-info__author" href="#">
                BY ADMIN
              </a>
            </div>
          </div>
          <a class="blog-page__title-link" href="#">
            <h4 class="blog-page__title">
              Fsectetur adipisicing tempor incididunt
            </h4>
          </a>
          <p class="blog-page__text">
            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna
          </p>
          <a class="blog-page__link" href="#">
            View More
          </a>
        </article>
        <article class="blog-page__article">
          <div class="blog-page__article-imgbox">
            <a class="blog-page__img-link" href="#">
              <img src="images/blog/4-big.jpg" alt="blog images">
            </a>
            <div class="article-info">
              <time class="article-info__time">
                28 JANUARY, 2020
              </time>
              <a class="article-info__author" href="#">
                BY ADMIN
              </a>
            </div>
          </div>
          <a class="blog-page__title-link" href="#">
            <h4 class="blog-page__title">
              Fsectetur adipisicing tempor incididunt
            </h4>
          </a>
          <p class="blog-page__text">
            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna
          </p>
          <a class="blog-page__link" href="#">
            View More
          </a>
        </article>
      </div>
      <aside class="blog-page__aside">
        <form class="search-form" action="#">
          <input class="search-form__input" type="text">
          <button class="search-form__btn" type="submit">
            <img src="images/icons/search-form.svg" alt="">
          </button>
        </form>
        <div class="filters-category">
          <h4 class="filters__title">Category</h4>
          <div class="action-wrapper">
            <form class="filters-category__form">
              <label class="filters-category__label">
                <input class="filters-category__input" type="checkbox" checked>
                <span class="filters-category__checkbox">Chair</span>
              </label>
              <label class="filters-category__label">
                <input class="filters-category__input" type="checkbox">
                <span class="filters-category__checkbox">Table</span>
              </label>
              <label class="filters-category__label">
                <input class="filters-category__input" type="checkbox">
                <span class="filters-category__checkbox">Lamp</span>
              </label>
              <label class="filters-category__label">
                <input class="filters-category__input" type="checkbox">
                <span class="filters-category__checkbox">Watch</span>
              </label>
              <label class="filters-category__label">
                <input class="filters-category__input" type="checkbox">
                <span class="filters-category__checkbox">Clock
                </span>
              </label>
            </form>
          </div>
        </div>
        <div class="recent-posts">
          <h4 class="filters__title">Recent Post</h4>
          <div class="action-wrapper">
            <div class="recent-posts__item">
              <a class="recent-posts__img-link" href="#">
                <img class="recent-posts__img" src="images/blog/1.jpg" alt="">
              </a>
              <div class="recent-posts__box">
                <a class="recent-posts__box-link" href="#">
                  <h6 class="recent-posts__title">
                    Corem ipsum dolor tetur adipisicing elit
                  </h6>
                </a>
                <p class="recent-posts__date">
                  28 JANUARY, 2020
                </p>
              </div>
            </div>
            <div class="recent-posts__item">
              <a class="recent-posts__img-link" href="#">
                <img class="recent-posts__img" src="images/blog/2.jpg" alt="">
              </a>
              <div class="recent-posts__box">
                <a class="recent-posts__box-link" href="#">
                  <h6 class="recent-posts__title">
                    Corem ipsum dolor tetur adipisicing elit
                  </h6>
                </a>
                <p class="recent-posts__date">
                  28 JANUARY, 2020
                </p>
              </div>
            </div>
            <div class="recent-posts__item">
              <a class="recent-posts__img-link" href="#">
                <img class="recent-posts__img" src="images/blog/3.jpg" alt="">
              </a>
              <div class="recent-posts__box">
                <a class="recent-posts__box-link" href="#">
                  <h6 class="recent-posts__title">
                    Corem ipsum dolor tetur adipisicing elit
                  </h6>
                </a>
                <p class="recent-posts__date">
                  28 JANUARY, 2020
                </p>
              </div>
            </div>
            <div class="recent-posts__item">
              <a class="recent-posts__img-link" href="#">
                <img class="recent-posts__img" src="images/blog/4.jpg" alt="">
              </a>
              <div class="recent-posts__box">
                <a class="recent-posts__box-link" href="#">
                  <h6 class="recent-posts__title">
                    Corem ipsum dolor tetur adipisicing elit
                  </h6>
                </a>
                <p class="recent-posts__date">
                  28 JANUARY, 2020
                </p>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
    {% include 'app/module/_pagination/_pagination.html' %}
  </div>
</section>